:root {
  --body-regular-font-family: "Roboto-Regular", Helvetica;
  --body-regular-font-size: 14px;
  --body-regular-font-style: normal;
  --body-regular-font-weight: 400;
  --body-regular-letter-spacing: 0px;
  --body-regular-line-height: 22px;
  --body-text-large-bold-font-family: "DMSans-Bold", Helvetica;
  --body-text-large-bold-font-size: 18px;
  --body-text-large-bold-font-style: normal;
  --body-text-large-bold-font-weight: 700;
  --body-text-large-bold-letter-spacing: -0.36px;
  --body-text-large-bold-line-height: 30px;
  --character-primaryinverse: rgba(255, 255, 255, 1);
  --characterdisabled-placeholder-25: rgba(0, 0, 0, 0.25);
  --charactertitle-85: rgba(0, 0, 0, 0.85);
  --display-text-extra-small-bold-font-family: "DMSans-Bold", Helvetica;
  --display-text-extra-small-bold-font-size: 24px;
  --display-text-extra-small-bold-font-style: normal;
  --display-text-extra-small-bold-font-weight: 700;
  --display-text-extra-small-bold-letter-spacing: -0.48px;
  --display-text-extra-small-bold-line-height: 32px;
  --drop-shadow-button-primary: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
  --h5-regular-font-family: "Roboto-Regular", Helvetica;
  --h5-regular-font-size: 16px;
  --h5-regular-font-style: normal;
  --h5-regular-font-weight: 400;
  --h5-regular-letter-spacing: 0px;
  --h5-regular-line-height: 24px;
  --hitbox: rgba(255, 255, 255, 0);
  --neutral-1: rgba(255, 255, 255, 1);
  --neutral-5: rgba(217, 217, 217, 1);
  --primary-6: rgba(24, 144, 255, 1);
  --primarypurple-blue500-primary: rgba(67, 24, 255, 1);
  --secondarydark-grey900: rgba(27, 37, 89, 1);
  --secondarygrey-600: rgba(163, 174, 208, 1);
  --secondarygrey-700: rgba(112, 126, 174, 1);
}
