.status {
  background-color: #5ae344;
  border-radius: 20px;
  height: 35px;
  position: relative;
  width: 89px;
}

.status .text-wrapper-4 {
  color: #ffffff;
  font-family: "DM Sans", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 23px;
  letter-spacing: -0.48px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 5px;
  white-space: nowrap;
}
